/* -------------------------------------------------- */
/* RESET — only resets, no styles here */
/* -------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

/* -------------------------------------------------- */
/* BASE STYLES */
/* -------------------------------------------------- */
html {
  font-size: 16px;
}

body {
  background: #f4f2e7 url('./images/tpsy_bg.png') repeat top left;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
  color: #0b5050;
}

/* -------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------- */
h1 {
  font-size: clamp(1.75rem, 2.5vw + 0.5rem, 2.5rem);
  font-family: 'Cinzel', serif;
  color: #67351c;
}

h2 {
  margin-bottom: 3rem;
  border-bottom: 2px solid #67351c;
  font-size: clamp(1.625rem, 2.25vw + 0.25rem, 2.5rem);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #67351c;
}

h3 {
  margin-bottom: 1rem;
  font-size: clamp(1.125rem, 1vw + 0.5rem, 1.5rem);
  color: #67351c;
}

p,
li,
blockquote {
  /* margin-bottom: 1rem; */
  font-size: clamp(1rem, -0.405rem + 2.196vw, 1.35rem);
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

.where-is-this-going p,
.biography p,
.message-container p {
  margin-bottom: 1rem;
}

/* -------------------------------------------------- */
/* LAYOUT + CONTAINERS */
/* -------------------------------------------------- */

.content-container {
  margin: 3rem 0;
  padding: 0 5rem;
}
.introduction-video,
.gear-men-image,
.gear-men-text,
.good-alice-image,
.blocks-toy-image,
.mouse-therapy-image,
.engine-intro-image,
.mental-combustion-image,
.mental-combustion-video,
.game-grid-image,
.book-corner-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------- */
/* BUTTONS, COMPONENTS, ETC. */
/* -------------------------------------------------- */

.cta-label {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #67351c;
}

.steampunk-button {
  margin-top: 3rem;
  width: 200px;
  background-image: url('./images/book_button_cr.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 3 / 1;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #67351c;
}

.banner,
.footer-image {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------- */

.navbar {
  color: #67351c;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #67351c;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gear-icon {
  width: 30px;
  height: 30px;
}
.navbar-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-info p {
  margin: 0;
  font-weight: bold;
  color: #67351c;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-links a:hover {
  color: #0b5050;
}

.current {
  font-weight: bold;
  color: #0b5050;
}

/* -------------------------------------------------- */
/* INTRODUCTION */
/* -------------------------------------------------- */

.introduction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 3rem;
}

.introduction-video {
  grid-column: 1;
  grid-row: 1;
}
.introduction-video img {
  width: 100%;
  height: auto;
}
.introduction-text {
  display: flex;
  grid-column: 2;
  grid-row: 1;
}

.introduction-callout {
  grid-column: 1 / 3;
}

.introduction-callout p {
  margin-bottom: 0;
  font-weight: bold;
  color: #67351c;
}

/* -------------------------------------------------- */
/* GEAR MEN */
/* -------------------------------------------------- */

.gear-men-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.gear-men-image img {
  width: auto;
  height: clamp(18.75rem, -10.113rem + 45.098vw, 25.938rem);
}

/* -------------------------------------------------- */
/* LEARN MORE GRID */
/* -------------------------------------------------- */

.learn-more-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.learn-more-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more-item img {
  border: 3px solid #0b5050;
}

/* -------------------------------------------------- */
/* BRETT BIO */
/* -------------------------------------------------- */

.brett-bio-container {
  padding: 3rem;
  background-image: url('./images/bret-info-bg_cr.png');
}

.brett-bio-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  padding: 2.5rem 3rem;
  background: rgba(247, 239, 239, 0.8);
}

.brett-bio-text,
.brett-bio-image {
  height: 100%;
}

.brett-bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brett-img {
  height: clamp(25rem, 12.451rem + 19.608vw, 28.125rem);
  width: auto;
  object-fit: contain;
}

/* -------------------------------------------------- */
/* MESSAGE */
/* -------------------------------------------------- */

.message-container h2 {
  margin-bottom: 0.3rem;
}
.message-callout p {
  padding-left: 0.5rem;
  font-weight: bold;
  color: #67351c;
}

.good-alice-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.good-alice-image img {
  width: auto;
  height: clamp(11.875rem, -3.184rem + 23.529vw, 15.625rem);
}

.blocks-toy-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.blocks-toy-image img {
  width: auto;
  height: clamp(9.375rem, -3.174rem + 19.608vw, 12.5rem);
}

.mouse-therapy-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.mouse-therapy-image img {
  /* margin: 0 auto; */
  width: auto;
}

/* -------------------------------------------------- */
/* ENGINE INTRO */
/* -------------------------------------------------- */

.engine-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.engine-intro-text-top {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
}

.engine-intro-callout {
  display: flex;
  /* padding-top: 2rem; */
  align-items: center;
}

.engine-intro-callout p {
  color: #67351c;
  font-weight: bold;
}

.engine-intro-image img {
  height: clamp(18.75rem, -13.877rem + 50.98vw, 26.875rem);
}

.engine-intro-text-bottom {
  grid-column: 1 / 3;
  grid-row: 2;
}

/* -------------------------------------------------- */
/* MENTAL COMBUSTION */
/* -------------------------------------------------- */

.mental-combustion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.mental-combustion-image {
  grid-column: 1;
  grid-row: 1;
}

.mental-combustion-image img {
  border: 3px solid #0b5050;
}
.mental-combustion-video {
  grid-column: 2;
  grid-row: 1;
}

.mental-combustion-image img,
.mental-combustion-video img {
  height: clamp(15.938rem, -4.141rem + 31.373vw, 20.938rem);
}
.mental-combustion-text {
  grid-column: 1 / 3;
  grid-row: 2;
}

/* -------------------------------------------------- */
/* GAME */
/* -------------------------------------------------- */

.game-grid {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-rows: auto auto; */
  gap: 2rem;
}

.game-buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.game-buttons-grid button {
  width: 70px;
  font-size: 0.7rem;
}

.game-buttons-left {
  grid-column: 1;
  margin-bottom: 4rem;
  /* grid-row: 1; */
}

.game-buttons-right {
  grid-column: 2;
  margin-top: 4rem;
  /* grid-row: 1; */
}

.game-buttons-left,
.game-buttons-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  background-image: url(./images/gear_button_transparent.png);
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  list-style: none;
  color: #f4f2e7;
}

.game-grid-content {
  display: flex;
  flex-direction: column;
  border: 4px solid #0b5050;
  padding: 2rem;
  border-radius: 8px;
  height: clamp(55rem, 37.431rem + 27.451vw, 59.375rem);
}

.gamification-title {
  text-align: center;
  margin: 1rem 5rem 1.25rem;
}

.gamification-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-undertext {
  margin-top: 3rem;
}
/* -------------------------------------------------- */
/* AXIA INTRO */
/* -------------------------------------------------- */

.axia-intro-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 2rem;
}

.axia-intro-text p {
  margin-bottom: 1rem;
}

.axia-intro-video img {
  height: clamp(13.75rem, -6.328rem + 31.373vw, 18.75rem);
}
/* -------------------------------------------------- */
/* WHAT DO WE NEED */
/* -------------------------------------------------- */

.what-do-we-need-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.need-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.need-text h2 {
  margin-bottom: 1rem;
}
.need-text h2,
.need-text p {
  text-align: center;
}
/* -------------------------------------------------- */
/* INTERNAL & EXTERNAL NEEDS */
/* -------------------------------------------------- */

.internal-external-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.internal-external-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.internal-external-text {
  grid-column: 1;
  grid-row: 2;
}

.internal-external-image {
  grid-column: 2;
  grid-row: 2;
}

.internal-external-image img {
  margin: 0 auto;
  width: auto;
  height: 22rem;
}

.internal-external-under-text {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* -------------------------------------------------- */
/* BALANCE */
/* -------------------------------------------------- */

.balancing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.balancing-text {
  grid-column: 1;
  grid-row: 2;
}

.balancing-image {
  grid-column: 2;
  grid-row: 2;
}

.balancing-image img {
  margin: 0 auto;
  width: auto;
  height: 25rem;
}

/* -------------------------------------------------- */
/* ENERGY & GRAVITY */
/* -------------------------------------------------- */

.energy-gravity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

.energy-gravity-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.energy-gravity-intro-text {
  grid-column: 1 / 3;
  grid-row: 2;
}

.energy-gravity-image {
  grid-column: 1;
  grid-row: 3;
}
.energy-gravity-image img {
  height: 20rem;
  width: auto;
}
.energy-gravity-middle-text {
  grid-column: 2;
  grid-row: 3;
}

.energy-gravity-bottom-text {
  grid-column: 1 / 3;
  grid-row: 4;
}

/* -------------------------------------------------- */
/* BOOK CORNER */
/* -------------------------------------------------- */

.book-corner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.book-corner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.book-corner-text .steampunk-button {
  margin-top: 1rem;
}

.thermo-psych-cover {
  border: 4px solid #0b5050;
  border-radius: 15px;
  height: clamp(25rem, 16.216rem + 13.725vw, 27.188rem);
}

.e-book-cover {
  height: clamp(20.625rem, 10.586rem + 15.686vw, 23.125rem);
}

.cta-label {
  margin-top: 1rem;
}

.book-corner-callout p {
  padding-top: 2rem;
  text-align: center;
}

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */

footer {
  width: 100%;
}

.footer-image {
  width: 100%;
  height: auto;
}
