/* Basic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('./images/tpsy_bg.png');
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
  background-color: #f4f2e7;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  color: #000;
}

h1 {
  font-size: 3rem;
  color: #67351c;
  font-family: 'Cinzel', serif;
}

h2 {
  font-size: 2rem;
  color: #67351c;
  border-bottom: 2px solid #67351c;
  margin: 2rem 0;
}

h3 {
  font-size: 1.5rem;
  color: #67351c;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #0b5050;
  font-family: 'Noto Sans', san-serif;
  text-align: justify;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Specialized classes */

.content-container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.cta-label {
  font-size: 1.5rem;
  color: #67351c;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.steampunk-button {
  cursor: pointer;
  background-image: url('./images/book_button_cr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 3 / 1;
  width: 200px;
}

.banner {
  display: block;
  width: 100%;
  height: auto;
}

/* ---------------------- Navbar---------------------- */

.navbar {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #67351c;
}

/* .navbar-copyright {
  font-size: 1rem;
  color: #67351c;
} */

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gear-icon {
  width: 30px;
  height: 30px;
}
.navbar-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-info p {
  color: #67351c;
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: #67351c;
}
.navbar-links a:hover {
  color: #0b5050;
}

.current {
  font-weight: bold;
}

/* ---------------------- Introduction Section ---------------------- */

.introduction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.introduction-video {
  grid-column: 1;
  grid-row: 1;
}

.introduction-video img {
  width: 850px;
  height: auto;
}

.introduction-text {
  grid-column: 2;
  grid-row: 1;
}

.introduction-call-out {
  grid-column: 1 / 3;
  grid-row: 2;
  font-size: 1.75rem;
  font-weight: 700;
}

.introduction-call-out p {
  font-size: 2rem;
  color: #67351c;
}

.gear-men-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}

.gear-men-image img {
  height: 25rem;
  width: auto;
  margin: 0 auto;
}

.learn-more {
  display: grid;
  gap: 2rem;
}

.learn-more-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.learn-more-item img {
  border: 2px solid #0b5050;
}

.brett-bio-container {
  background-image: url('./images/bret-info-bg_cr.png');
  padding: 2rem;
}
.brett-bio-image {
  margin: 0 auto;

  text-align: center;
}
.brett-img {
  height: 29rem;
  width: auto;
}
.brett-bio-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  background: rgba(128, 128, 128, 0.8);
  padding: 2rem;
}

.good-alice-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2rem;
}

.good-alice-image img {
  margin: 0 auto;
  height: 300px;
  width: auto;
}

.blocks-toy-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
}

.blocks-toy-image img {
  margin: 0 auto;
  height: 200px;
  width: auto;
}

.mouse-therapy-grid {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 2rem;
}

.mouse-therapy-image img {
  margin: 0 auto;
  height: 250px;
  width: auto;
}

.book-corner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.thermo-psych-cover {
  margin: 0 auto;
  border-radius: 15px;
  border: 4px solid #0b5050;
  height: 25rem;
}

.e-book-cover {
  margin: 0 auto;
  height: 25rem;
  width: auto;
}

.book-corner-callout {
  grid-column: 1 / 3;
}

.footer-image {
  width: 100%;
  height: auto;
}

/* Engine Page*/
.engine-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}
.engine-intro-text-top {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
.engine-intro-callout {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.engine-intro-image img {
  margin: 0 auto;
  height: 28rem;
  width: auto;
}

.engine-intro-text-bottom {
  grid-column: 1 / 3;
  grid-row: 2;
}

.mental-combustion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.mental-combustion-title {
  grid-column: 1 / 3;
}

.mental-combustion-image {
  grid-column: 1;
  grid-row: 2;
  border: 2px solid #0b5050;
  padding: 0 4rem;
}

.mental-combustion-video {
  grid-column: 2;
  grid-row: 2;
}

.engine-intro-callout p {
  font-size: 2rem;
  color: #67351c;
}

.mental-combustion-text {
  grid-column: 1 / 3;
  grid-row: 3;
}

.game-grid {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1.5fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.game-grid-callout {
  grid-column: 1 / 4;
  grid-row: 1;
}

.game-buttons-left {
  grid-column: 1;
  grid-row: 2;
}

.game-buttons-right {
  grid-column: 2;
  grid-row: 2;
}

.game-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1 / 1;
  width: 200px;
  background-image: url(./images/gear_button_transparent.png);
  color: #f4f2e7;
}

.game-buttons-right {
  margin-top: 6rem;
}

/* Axia Page*/
.axia-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.axia-intro-text {
  grid-column: 1;
  grid-row: 1;
}

.axia-intro-video {
  grid-column: 2;
  grid-row: 1;
}

.what-do-we-need-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

/* .survival {
  grid-column: 1;
  grid-row: 2;
}

.achievement {
  grid-column: 2;
  grid-row: 2;
}

.experiential {
  grid-column: 3;
  grid-row: 2;
} */

.internal-external-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.internal-external-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.internal-external-text {
  grid-column: 1;
  grid-row: 2;
}

.internal-external-image {
  grid-column: 2;
  grid-row: 2;
}

.internal-external-image img {
  height: 22rem;
  width: auto;
  margin: 0 auto;
}

.internal-external-under-text {
  grid-column: 1 / 3;
  grid-row: 3;
}

.balancing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.balancing-text {
  grid-column: 1;
  grid-row: 2;
}

.balancing-image {
  grid-column: 2;
  grid-row: 2;
}

.balancing-image img {
  height: 25rem;
  width: auto;
  margin: 0 auto;
}
.energy-gravity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

.energy-gravity-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.energy-gravity-intro-text {
  grid-column: 1 / 3;
  grid-row: 2;
}

.energy-gravity-image {
  grid-column: 1;
  grid-row: 3;
}
.energy-gravity-image img {
  height: 20rem;
  width: auto;
}
.energy-gravity-middle-text {
  grid-column: 2;
  grid-row: 3;
}

.energy-gravity-bottom-text {
  grid-column: 1 / 3;
  grid-row: 4;
}
