/* -------------------------------------------------- */
/* RESET — only resets, no styles here */
/* -------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* -------------------------------------------------- */
/* BASE STYLES */
/* -------------------------------------------------- */
html {
  font-size: 16px;
}

body {
  background: #f4f2e7 url('./images/tpsy_bg.png') repeat top left;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  color: #0b5050;
}

/* -------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------- */
h1 {
  font-size: clamp(2.25rem, 4vw + 1rem, 4rem);
  color: #67351c;
  font-family: 'Cinzel', serif;
}

h2 {
  font-size: clamp(1.75rem, 3vw + 0.5rem, 3rem);
  color: #67351c;
  border-bottom: 2px solid #67351c;
  margin-bottom: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2.25rem);
  color: #67351c;
  margin-bottom: 1rem;
}

p,
li,
blockquote {
  font-size: clamp(1rem, 1.2vw + 0.25rem, 1.25rem);
  text-align: justify;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -------------------------------------------------- */
/* LAYOUT + CONTAINERS */
/* -------------------------------------------------- */
.content-container {
  padding: 0 5rem;
  margin: 3rem 0;
}

/* -------------------------------------------------- */
/* BUTTONS, COMPONENTS, ETC. */
/* -------------------------------------------------- */

.cta-label {
  color: #67351c;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.steampunk-button {
  cursor: pointer;
  background-image: url('./images/book_button_cr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 3 / 1;
  width: 200px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #67351c;
  margin-top: 1rem;
}

.banner,
.footer-image {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------- */

.navbar {
  color: #67351c;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #67351c;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gear-icon {
  width: 30px;
  height: 30px;
}
.navbar-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-info p {
  color: #67351c;
  margin: 0;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.navbar-links a:hover {
  color: #0b5050;
}

.current {
  font-weight: bold;
  color: #0b5050;
}

/* -------------------------------------------------- */
/* INTRODUCTION */
/* -------------------------------------------------- */

.introduction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.introduction-video {
  grid-column: 1;
  grid-row: 1;
}

.introduction-video img {
  width: 850px;
  height: auto;
}

.introduction-text {
  grid-column: 2;
  grid-row: 1;
}

.introduction-callout {
  grid-column: 1 / 3;
  grid-row: 2;
}

.introduction-callout p {
  color: #67351c;
  font-weight: bold;
}

/* -------------------------------------------------- */
/* GEAR MEN */
/* -------------------------------------------------- */

.gear-men-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}

.gear-men-image img {
  height: 25rem;
  width: auto;
  margin: 0 auto;
}

/* -------------------------------------------------- */
/* LEARN MORE GRID */
/* -------------------------------------------------- */

.learn-more-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.learn-more-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more-item img {
  border: 2px solid #0b5050;
}

/* -------------------------------------------------- */
/* BRETT BIO */
/* -------------------------------------------------- */

.brett-bio-container {
  background-image: url('./images/bret-info-bg_cr.png');
  padding: 2rem;
}
.brett-bio-image {
  display: flex;
  align-items: stretch;
}

.brett-bio-text,
.brett-bio-image {
  height: 100%;
}

.brett-img {
  height: 100%;
  width: auto;
  object-fit: cover;
  margin: auto;
}

.brett-bio-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  background: rgba(128, 128, 128, 0.8);
  padding: 2rem;
}

/* -------------------------------------------------- */
/* MESSAGE */
/* -------------------------------------------------- */

.message-container h2 {
  margin-bottom: 0.3rem;
}
.message-callout p {
  color: #67351c;
  padding-left: 0.5rem;
  font-weight: bold;
}

.good-alice-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2rem;
}

.good-alice-image img {
  margin: 0 auto;
  height: 300px;
  width: auto;
}

.blocks-toy-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
}

.blocks-toy-image img {
  margin: 0 auto;
  height: 200px;
  width: auto;
}

.mouse-therapy-grid {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 2rem;
}

.mouse-therapy-image img {
  margin: 0 auto;
  height: 250px;
  width: auto;
}

/* -------------------------------------------------- */
/* ENGINE INTRO */
/* -------------------------------------------------- */

.engine-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.engine-intro-text-top {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.engine-intro-callout {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.engine-intro-callout p {
  color: #67351c;
}

.engine-intro-image img {
  margin: 0 auto;
  height: 28rem;
  width: auto;
}

.engine-intro-text-bottom {
  grid-column: 1 / 3;
  grid-row: 2;
}

/* -------------------------------------------------- */
/* MENTAL COMBUSTION */
/* -------------------------------------------------- */

.mental-combustion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.mental-combustion-title {
  grid-column: 1 / 3;
}

.mental-combustion-image {
  grid-column: 1;
  grid-row: 2;
  border: 2px solid #0b5050;
  padding: 0 4rem;
}

.mental-combustion-video {
  grid-column: 2;
  grid-row: 2;
}

.mental-combustion-text {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* -------------------------------------------------- */
/* GAME */
/* -------------------------------------------------- */

.game-grid {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1.5fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.game-grid-callout {
  grid-column: 1 / 4;
  grid-row: 1;
}

.game-buttons-left {
  grid-column: 1;
  grid-row: 2;
}

.game-buttons-right {
  grid-column: 2;
  grid-row: 2;
}

.game-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1 / 1;
  width: 200px;
  background-image: url(./images/gear_button_transparent.png);
  color: #f4f2e7;
}

.game-buttons-right {
  margin-top: 6rem;
}

/* -------------------------------------------------- */
/* AXIA INTRO */
/* -------------------------------------------------- */

.axia-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.axia-intro-text {
  grid-column: 1;
  grid-row: 1;
}

.axia-intro-video {
  grid-column: 2;
  grid-row: 1;
}

/* -------------------------------------------------- */
/* WHAT DO WE NEED */
/* -------------------------------------------------- */

.what-do-we-need-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

/* -------------------------------------------------- */
/* INTERNAL & EXTERNAL NEEDS */
/* -------------------------------------------------- */

.internal-external-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.internal-external-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.internal-external-text {
  grid-column: 1;
  grid-row: 2;
}

.internal-external-image {
  grid-column: 2;
  grid-row: 2;
}

.internal-external-image img {
  height: 22rem;
  width: auto;
  margin: 0 auto;
}

.internal-external-under-text {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* -------------------------------------------------- */
/* BALANCE */
/* -------------------------------------------------- */

.balancing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.balancing-text {
  grid-column: 1;
  grid-row: 2;
}

.balancing-image {
  grid-column: 2;
  grid-row: 2;
}

.balancing-image img {
  height: 25rem;
  width: auto;
  margin: 0 auto;
}

/* -------------------------------------------------- */
/* ENERGY & GRAVITY */
/* -------------------------------------------------- */

.energy-gravity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

.energy-gravity-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.energy-gravity-intro-text {
  grid-column: 1 / 3;
  grid-row: 2;
}

.energy-gravity-image {
  grid-column: 1;
  grid-row: 3;
}
.energy-gravity-image img {
  height: 20rem;
  width: auto;
}
.energy-gravity-middle-text {
  grid-column: 2;
  grid-row: 3;
}

.energy-gravity-bottom-text {
  grid-column: 1 / 3;
  grid-row: 4;
}

/* -------------------------------------------------- */
/* BOOK CORNER */
/* -------------------------------------------------- */

.book-corner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.book-corner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.thermo-psych-cover {
  margin: 0 auto;
  border-radius: 15px;
  border: 4px solid #0b5050;
  height: 25rem;
}

.e-book-cover {
  margin: 0 auto;
  height: 25rem;
  width: auto;
}

.book-corner-callout {
  grid-column: 1 / 3;
}

.book-corner-callout p {
  text-align: center;
}

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */

footer {
  width: 100%;
}

.footer-image {
  width: 100%;
  height: auto;
}
